In [8]:
#Creation of tuple

a=(10, 22.5,"ashish",True)

In [9]:
a

(10, 22.5, 'ashish', True)

In [4]:
type(a)

tuple

In [10]:
#Default type 

a= 10,22.5,"ashish",True

In [11]:
a

(10, 22.5, 'ashish', True)

In [3]:
type(a)

tuple

In [13]:
#indexing and slicing in python


a=(10, 22.5,"ashish",True)
a[0]

10

In [14]:
a=(10, 22.5,"ashish",True)
a[-1]

True

In [16]:
a=(10, 22.5,"ashish",True)
a[1:3]

(22.5, 'ashish')

In [17]:
a=(10, 22.5,"ashish",True)
a[:2]

(10, 22.5)

In [18]:
a[2:]

('ashish', True)

In [19]:
#tuples are immutable.

a[2]= "Amit"

TypeError: 'tuple' object does not support item assignment

In [20]:
# To find the total number of elements in tuple use len() function  
len(a)

4

In [21]:
#concatenate tuple1 with tuple2 elements

x=(1,2,3)
y=(4,5,6)

In [22]:
x,y

((1, 2, 3), (4, 5, 6))

In [23]:
x+y

(1, 2, 3, 4, 5, 6)

In [24]:
y+x

(4, 5, 6, 1, 2, 3)

In [25]:
#Repeating the tuple elements 
x*3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [30]:
# min and max function to find minimum and maximum value 
x=(1,2,3)
min(x)

1

In [32]:
x=(1,2,3)
max(x)

3